[Desktop Entry]
Version=1.0
Type=Link
Name=matematicA 2
Comment=
Icon=user-bookmarks
URL=https://github.com/mariaeduardadias/matematica2/tree/main/matematicA%202
